{% extends 'group/header.html' %}
{% block title %} Configure Groups {% endblock %}
{% block content %}

      <ol class="breadcrumb bc-3">
            <li>
        <a href="index.html"><i class="entypo-home"></i>Home</a>
      </li>
          <li>

              <a href="layout-api.html">Groups</a>
          </li>
        <li class="active">

              <strong>Configure Groups</strong>
          </li>
          </ol>

<h2>Configure Groups</h2>
<br/ >
<div class="row">
 {% for g in groups%}  
	<div class="col-sm-3">
    <a href="{% url 'group:config' g.id %}">
      <div class="tile-title tile-orange">
        <div class="icon">
          <i class="entypo entypo-window"></i>
        </div>
        <div class="title">
          <h3>{{ g.group_alias }}</h3>
          <p>{{ g.group_description}}</p>
        </div>
      </div>
    </a>
	</div>
  {%endfor%}
</div>
<br />
{% endblock %}