{% extends 'group/header.html' %}
{% block title%} Create Groups {% endblock %}
{% block content %}


      <ol class="breadcrumb bc-3">
         <li>
           <a href="#"><i class="entypo-home"></i>Home</a>
         </li>
         <li>
           <a href="#">Groups</a>
         </li>
         <li>
           <a href="{% url 'group:list_config' group.client_fk.id %}">Configure Groups</a>
         </li>
         <li class="active">
           <strong>Configure {{ group.group_alias }}</strong>
         </li>
      </ol>

<h2>Configure {{ group.group_alias }}</h2>
<br/ >
<div class="row">
	<div class="col-sm-3">
    <a href="{% url 'fwrule:fwrules' client_id=group.client_fk.id group_id=group.id %}">
      <div class="tile-title tile-blue">
        <div class="icon">
          <i class="entypo entypo-lock"></i>
        </div>
        <div class="title">
          <h3>Firewall Rules</h3>
          <p>My Firewall Rules</p>
        </div>
      </div>
    </a>
	</div>
	<div class="col-sm-3">
      <a href="#">
      <div class="tile-title tile-blue">
        <div class="icon">
          <i class="entypo entypo-flow-cascade"></i>
        </div>
        <div class="title">
          <h3>Container Service</h3>
          <p>Container service</p>
        </div>
      </div>
    </a>
	</div>
</div>

<br />
{% endblock %}