{% extends 'group/header.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
    <script type="text/javascript">
   function show_modal(network_id){

     jQuery('#modal-7').modal();

     $.ajax({
       url: "/network/"+ network_id +"/edit",
       success: function(response)
       {
         jQuery('#modal-7 .modal-body').html(response);
       }
     });
   }
</script>
           <script type="text/javascript">
function send_or_edit (my_action, my_form) {

  if (my_action == "delete") {
    document.getElementById(my_form).action = "{% url 'network:delete'%}";
    document.getElementById(my_form).submit();
  }

}
         </script>
<ol class="breadcrumb bc-3">
   <li>
     <a href="#"><i class="entypo-home"></i>Home</a>
   </li>
   <li>
     <a href="#">Groups</a>
   </li>
   <li>
     <a href="{% url 'group:list_config' group.client_fk.id %}">Configure Groups</a>
   </li>
   <li>
     <a href="#">Networks</a>
   </li>
   <li class="active">
     <strong>List Networks</strong>
   </li>
</ol>
<h2>List Network</h2>
<br/ >
<div class="row">
  <div class="col-md-12">
   <ul class="nav nav-tabs bordered"><!-- available classes "bordered", "right-aligned" -->
         <li class="active">
           <a href="#home" data-toggle="tab">
             <span class="visible-xs"><i class="entypo-home"></i></span>
             <span class="hidden-xs">Network List</span>
           </a>
         </li>
         <li>
           <a href="#profile" data-toggle="tab">
             <span class="visible-xs"><i class="entypo-user"></i></span>
             <span class="hidden-xs">Add Network</span>
           </a>
         </li>
   </ul>
       
       <div class="tab-content">
         <div class="tab-pane active" id="home">
           
             <table class="table table-bordered datatable" id="table-3">
              <thead>
                <tr>
                  <th>
                    <div class="checkbox checkbox-replace">
                      <input type="checkbox" id="chk-1">
                    </div>
                  </th>
                  <th>Network Name</th>
                  <th>Network Interface</th>
                  <th>Network Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
               {% for network in networks %} 
               <form method="post" id="form-{{network.pk}}">
               {% csrf_token %}
                <tr>
                  <input type="hidden" name="network_id" id="network_id_{{network.pk}}" value="{{network.pk}}">
                  <td>
                    <div class="checkbox checkbox-replace">
                      <input type="checkbox" name="network_id" value="">
                    </div>
                  </td>
                  <td>{{network.network_name}}</td>
                  <td>{{network.network_interface}}</td>
                  <td>{{network.network_description}}</td>
                  <td>
                    <a href="#" onclick="show_modal({{ network.pk }});" class="btn btn-default btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i> Edit </a>
                    <a href="#" name="form-{{network.pk}}" class="btn btn-danger btn-sm btn-icon icon-left" onclick="send_or_edit('delete', this.name);">

                      <i class="entypo-cancel"></i>
                      Delete

                    </a>
                  </td>
                </tr>
                </form>
                {%endfor%}
              </tbody>
            </table>
         </div>
         <div class="tab-pane" id="profile">
          <div class="panel-heading">
            <div class="panel-title">
              Create New Network
            </div>
          </div>
            <div class="panel-body">
              <form role="form" class="form-horizontal form-groups-bordered" method="post" action="#">
                {% csrf_token %}
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">{{ form.network_name.label_tag }}</label>
                  <div class="col-sm-5">
                    {{ form.network_name }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">{{ form.network_interface.label_tag }}</label>
                  <div class="col-sm-5">
                    {{ form.network_interface }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">{{ form.network_description.label_tag }}</label>

                  <div class="col-sm-5">
                    {{ form.network_description }}
                  </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
              </form>
          </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bottom_includes %}

  <link rel="stylesheet" href="{% static 'assets/js/datatables/responsive/css/datatables.responsive.css'%}">
  <link rel="stylesheet" href="{% static 'assets/js/select2/select2-bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'assets/js/select2/select2.css'%}">
  <script src="{% static 'assets/js/gsap/main-gsap.js'%}"></script>
  <script src="{% static 'assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap.js'%}"></script>
  <script src="{% static 'assets/js/joinable.js'%}"></script>
  <script src="{% static 'assets/js/resizeable.js'%}"></script>
  <script src="{% static 'assets/js/neon-api.js'%}"></script>
  <script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'assets/js/datatables/TableTools.min.js'%}"></script>
  <script src="{% static 'assets/js/dataTables.bootstrap.js'%}"></script>
  <script src="{% static 'assets/js/datatables/jquery.dataTables.columnFilter.js'%}"></script>
  <script src="{% static 'assets/js/datatables/lodash.min.js'%}"></script>
  <script src="{% static 'assets/js/datatables/responsive/js/datatables.responsive.js'%}"></script>
  <script src="{% static 'assets/js/select2/select2.min.js'%}"></script>
  <script src="{% static 'assets/js/neon-chat.js'%}"></script>
  <script src="{% static 'assets/js/neon-custom.js'%}"></script>
  <script src="{% static 'assets/js/neon-demo.js'%}"></script>
{% endblock %}

{% block modals %}
<div class="modal fade" id="modal-7">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Network</h4>
      </div>
      <div class="modal-body">

        Content is loading...

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
   </div>
</div>
{% endblock %}
