{% load static %}
<script type="text/javascript">
   $(document).ready(function() {

   $("#source-edit").change(function(){
     if($("#source-edit").val() == "custom") {
      $("#source-edit-custom").show();
     } else {
      $("#source-edit-custom").hide();
     }
   });
   $("#destination-edit").change(function(){
     if($("#destination-edit").val() == "custom") {
      $("#destination-edit-custom").show();
     } else {
      $("#destination-edit-custom").hide();
     }
   });
    if($("#table-edit").val() == "nat") {
      {% if fwrule.chain == "POSTROUTING" %}
        $("#chain-edit").append($("<option></option>").attr("value","POSTROUTING").attr("selected", "true").text("POSTROUTING"));
      {% else %}
        $("#chain-edit").append($("<option></option>").attr("value","POSTROUTING").text("POSTROUTING"));
      {% endif %}

      {% if fwrule.chain == "PREROUTING" %}
        $("#chain-edit").append($("<option></option>").attr("value","PREROUTING").attr("selected", "true").text("PREROUTING"));
      {% else %}
        $("#chain-edit").append($("<option></option>").attr("value","PREROUTING").text("PREROUTING"));
      {% endif %}

      {% if fwrule.chain == "INPUT" %}
        $("#chain-edit").append($("<option></option>").attr("value","INPUT").attr("selected", "true").text("INPUT"));
      {% else %}
        $("#chain-edit").append($("<option></option>").attr("value","INPUT").text("INPUT"));
      {% endif %}

      {% if fwrule.chain == "OUTPUT" %}
        $("#chain-edit").append($("<option></option>").attr("value","OUTPUT").attr("selected", "true").text("OUTPUT"));
      {% else %}
        $("#chain-edit").append($("<option></option>").attr("value","OUTPUT").text("OUTPUT"));
      {% endif %}

      {% if fwrule.action == "accept" %}
        $("#action-edit").append($("<option></option>").attr("value","accept").attr("selected","true").text("Allow"));
      {% else %}
        $("#action-edit").append($("<option></option>").attr("value","accept").text("Allow"));
      {% endif %}

      {% if fwrule.action == "deny" %}
        $("#action-edit").append($("<option></option>").attr("value","deny").attr("selected", "true").text("Deny"));
      {% else %}
        $("#action-edit").append($("<option></option>").attr("value","deny").text("Deny"));
      {% endif %}

      {% if fwrule.action == "drop" %}
        $("#action-edit").append($("<option></option>").attr("value","drop").attr("selected", "true").text("Drop"));
      {% else %}
        $("#action-edit").append($("<option></option>").attr("value","drop").text("Drop"));
      {% endif %}

      {% if fwrule.action == "masquerade" %}
        $("#action-edit").append($("<option></option>").attr("value","masquerade").attr("selected", "true").text("Masquerade"));
      {% else %}
        $("#action-edit").append($("<option></option>").attr("value","masquerade").text("Masquerade"));
      {% endif %}

    } else if($("#table-edit").val() == "filter") {
      {% if fwrule.chain == "INPUT" %}
        $("#chain-edit").append($("<option></option>").attr("value","INPUT").attr("selected", "true").text("INPUT"));
      {% else %}
        $("#chain-edit").append($("<option></option>").attr("value","INPUT").text("INPUT"));
      {% endif %}

      {% if fwrule.chain == "OUTPUT" %}
        $("#chain-edit").append($("<option></option>").attr("value","OUTPUT").attr("selected", "true").text("OUTPUT"));
      {% else %}
        $("#chain-edit").append($("<option></option>").attr("value","OUTPUT").text("OUTPUT"));
      {% endif %}

      {% if fwrule.chain == "FORWARD" %}
        $("#chain-edit").append($("<option></option>").attr("value","FORWARD").attr("selected", "true").text("FORWARD"));
      {% else %}
        $("#chain-edit").append($("<option></option>").attr("value","FORWARD").text("FORWARD"));
      {% endif %}

      {% if fwrule.action == "accept" %}
        $("#action-edit").append($("<option></option>").attr("value","accept").attr("selected","true").text("Allow"));
      {% else %}
        $("#action-edit").append($("<option></option>").attr("value","accept").text("Allow"));
      {% endif %}

      {% if fwrule.action == "deny" %}
        $("#action-edit").append($("<option></option>").attr("value","deny").attr("selected", "true").text("Deny"));
      {% else %}
        $("#action-edit").append($("<option></option>").attr("value","deny").text("Deny"));
      {% endif %}

      {% if fwrule.action == "drop" %}
        $("#action-edit").append($("<option></option>").attr("value","drop").attr("selected", "true").text("Drop"));
      {% else %}
        $("#action-edit").append($("<option></option>").attr("value","drop").text("Drop"));
      {% endif %}
    }
    $("#table-edit").change(function(){
      $("#chain-edit").find('option').remove();
      $("#action-edit").find('option').remove();
      if($("#table-edit").val() == "nat") {
        $("#chain-edit").append($("<option></option>").attr("value","POSTROUTING").text("POSTROUTING"));
        $("#chain-edit").append($("<option></option>").attr("value","PREROUTING").text("PREROUTING"));
        $("#chain-edit").append($("<option></option>").attr("value","INPUT").text("INPUT"));
        $("#chain-edit").append($("<option></option>").attr("value","OUTPUT").text("OUTPUT"));
        $("#action-edit").append($("<option></option>").attr("value","accept").text("Allow"));
        $("#action-edit").append($("<option></option>").attr("value","deny").text("Deny"));
        $("#action-edit").append($("<option></option>").attr("value","drop").text("Drop"));
        $("#action-edit").append($("<option></option>").attr("value","masquerade").text("Masquerade"));
      } else if($("#table-edit").val() == "filter") {
        $("#chain-edit").append($("<option></option>").attr("value","INPUT").text("INPUT"));
        $("#chain-edit").append($("<option></option>").attr("value","OUTPUT").text("OUTPUT"));
        $("#chain-edit").append($("<option></option>").attr("value","FORWARD").text("FORWARD"));
        $("#action-edit").append($("<option></option>").attr("value","accept").text("Allow"));
        $("#action-edit").append($("<option></option>").attr("value","deny").text("Deny"));
        $("#action-edit").append($("<option></option>").attr("value","drop").text("Drop"));
      }
    });
  });
</script>
    <form role="form" class="form-horizontal form-groups-bordered" method="post" action="{% url 'fwrule:fwrule_edit' fwrule_id %} ">
      {% csrf_token %}
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.rule_name_text.label_tag }}</label>

          <div class="col-sm-3">
            {{ form.rule_name_text }}
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label" style="vertical-align: middle;">{{ form.source.label_tag }}</label>
          <div class="col-sm-4">
            <select name="source-edit" required="true" id="source-edit" class="form-control" data-allow-clear="true" data-placeholder="Source">
              <option></option>
                <option value="all">ALL</option>
              <optgroup label="Available Networks: ">
                {%for network in networks %}
                <option {% if fwrule.source == network.network_name|add:"-network" %} selected="true" {% endif %} value="{{network.network_name}}-network">{{network.network_name}} Network</option>
                {% endfor %}
              </optgroup>
              <optgroup label="Available Gateways: ">
                {%for network in networks %}
                <option {% if fwrule.source == network.network_name|add:"-gateway" %} selected="true" {% endif %} value="{{network.network_name}}-gateway">{{network.network_name}} Gateway</option>
                {% endfor %}
              </optgroup>
              <optgroup label="Custom Network: ">
                <option value="custom">Inform Ip</option>
              </optgroup>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="source-edit-custom" id="source-edit-custom" style="display: none;" placeholder="Custom Address"/>
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label" style="vertical-align: middle;">{{ form.destination.label_tag }}</label>
          <div class="col-sm-4">
            <select name="destination-edit" required="true" id="destination-edit" class="form-control" data-allow-clear="true" data-placeholder="Destination">
              <option></option>
                <option value="all">ALL</option>
              <optgroup label="Available Networks: ">
                {%for network in networks %}
                <option {% if fwrule.destination == network.network_name|add:"-network" %} selected="true" {% endif %} value="{{network.network_name}}-network">{{network.network_name}} Network</option>
                {% endfor %}
              </optgroup>
              <optgroup label="Available Gateways: ">
                {%for network in networks %}
                <option {% if fwrule.destination == network.network_name|add:"-gateway" %} selected="true" {% endif %} value="{{network.network_name}}-gateway">{{network.network_name}} Gateway</option>
                {% endfor %}
              </optgroup>
              <optgroup label="Custom Network: ">
                <option value="custom">Inform Ip</option>
              </optgroup>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="destination-edit-custom" id="destination-edit-custom" style="display: none;" placeholder="Custom Address"/>
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.proto.label_tag }}</label>

          <div class="col-sm-3">
            <!--{{ form.proto }}-->
            <select name="protocol-edit"  required="true" class="form-control" data-allow-clear="true" data-placeholder="Protocol">
              <option></option>
              <optgroup label="Available Protocols">
              <option {%if fwrule.proto == "tcp" %} selected="true" {%endif%} value="tcp">TCP</option>
              <option {%if fwrule.proto == "udp" %} selected="true" {%endif%} value="udp">UDP</option>
              <option {%if fwrule.proto == "icmp" %} selected="true" {%endif%} value="icmp">ICMP</option>
              <option {% if fwrule.proto == "all" %} selected="true" {%endif%} value="all">ALL</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.sport.label_tag }}</label>
          <div class="col-sm-2">
            {{form.sport}}
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.dport.label_tag }}</label>
          <div class="col-sm-2">
            {{form.dport }}
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.table.label_tag }}</label>

          <div class="col-sm-3">
            <select name="table-edit"  required="true" id="table-edit" class="form-control" data-allow-clear="true" data-placeholder="Table">
              <option></option>
              <optgroup label="Available Tables">
              <option {% if fwrule.table == "filter" %} selected="true" {%endif%} value="filter">FILTER</option>
              <option {% if fwrule.table == "nat" %} selected="true" {%endif%} value="nat">NAT</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.chain.label_tag }}</label>

          <div class="col-sm-3">
            <select name="chain-edit"  required="true" id="chain-edit" class="form-control" data-allow-clear="true" data-placeholder="Protocol">
              <option></option>
              <optgroup label="Available Chains">
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.action.label_tag }}</label>

          <div class="col-sm-3">
            <select name="action-edit"  required="true" id="action-edit" class="form-control" data-allow-clear="true" data-placeholder="Actions">
              <option></option>
              <optgroup label="Available Actions">
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-5">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
    </form>
	</div>
</div>
