{% extends 'group/header.html' %}
{% load static %}
{% block title %}
Triamvos Cloud Configuration Group
{% endblock %}
{% block content %}
<script type="text/javascript">
function show_modal(configuration_id){
     jQuery('#modal-7').modal();

     $.ajax({
       url: "/cloud/configuration/group/"+ configuration_id +"/edit",
       contentType: "application/json; charset=utf-8",
       success: function(response)
       {
         $("#modal_configuration_name").val(response.name);
         $("#modal_configuration_description").val(response.description);
         $("#modal_configuration_vpc").val(response.vpc_fk).trigger("change");
         $("#modal_configuration_vpc").select2();
         // Atrasar a execução do val para que o trigger_change do vpc execute primeiro e adicione as opções. (gambi)
         setTimeout(function(){
           $("#modal_configuration_subnet").val(response.subnet_fk);
           $("#modal_configuration_subnet").select2();
           $("#modal_configuration_sg").val(response.securityGroup_fk);
           $("#modal_configuration_sg").select2();
           $("#modal_configuration_role").val(response.cloudrole_fk);
           $("#modal_configuration_role").select2();
         }, 100);
         $("#modal_configuration_edit").attr('action', '/cloud/configuration/group/'+ response.id +'/edit');
       }
     });
}


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


$(document).ready(function() {
  $("#modal_configuration_vpc").change(function() {
    var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    if($("#modal_configuration_vpc").val() != "") {
      var json_data = "{'vpc_id': "+ $("#modal_configuration_vpc").val() +"}"
      $.ajax({
        type: "POST",
        url: "/cloud/subnets-sgs-roles",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: json_data,
        success: function(response)
        {
          $("#modal_configuration_subnet").find('option').remove();
          $("#modal_configutation_sg").find('option').remove();
          $("#modal_configuration_role").find('option').remove();
          var subnet_keys = Object.keys(response.subnets)
          var sgs_keys = Object.keys(response.sgs)
          var roles_keys = Object.keys(response.roles)
          for (var i = '0'; i < subnet_keys.length; i++ ){
            var key = subnet_keys[i]
            $('#modal_configuration_subnet').append($("<option></option>").attr("value",response.subnets[key]['id']).text(key))
          }
          for (var i = '0'; i < sgs_keys.length; i++ ){
            var key = sgs_keys[i]
            $('#modal_configuration_sg').append($("<option></option>").attr("value",response.sgs[key]['id']).text(key))
          }
          for (var i = '0'; i < roles_keys.length; i++ ){
            var key = roles_keys[i]
            $('#modal_configuration_role').append($("<option></option>").attr("value",response.roles[key]['id']).text(key))
          }
        }
      });
    } else {
       $("#modal_configuration_subnet").find('option').remove();
       $("#modal_configuration_sg").find('option').remove();
       $("#modal_configuration_role").find('option').remove();
    }
  });
});

$(document).ready(function() {
  $("#vpc").change(function() {
    var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    if($("#vpc").val() != "") {
      var json_data = "{'vpc_id': "+ $("#vpc").val() +"}"
      $.ajax({
        type: "POST",
        url: "/cloud/subnets-sgs-roles",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: json_data,
        success: function(response)
        {
          $("#subnet").find('option').remove();
          $("#sg").find('option').remove();
          $("#role").find('option').remove();
          var subnet_keys = Object.keys(response.subnets)
          var sgs_keys = Object.keys(response.sgs)
          var roles_keys = Object.keys(response.roles)
          for (var i = '0'; i < subnet_keys.length; i++ ){
            var key = subnet_keys[i]
            $('#subnet').append($("<option></option>").attr("value",response.subnets[key]['id']).text(key))
          }
          for (var i = '0'; i < sgs_keys.length; i++ ){
            var key = sgs_keys[i]
            $('#sg').append($("<option></option>").attr("value",response.sgs[key]['id']).text(key))
          }
          for (var i = '0'; i < roles_keys.length; i++ ){
            var key = roles_keys[i]
            $('#role').append($("<option></option>").attr("value",response.roles[key]['id']).text(key))
          }
        }
      });
    } else {
       $("#subnet").find('option').remove();
       $("#sg").find('option').remove();
       $("#role").find('option').remove();
    }
  });
});

</script>
           <script type="text/javascript">
function send_or_edit (my_action, my_form) {

  if (my_action == "delete") {
    document.getElementById(my_form).action = "{% url 'cloud:configuration_group_delete' %}";
    document.getElementById(my_form).submit();
  }

}
         </script>
      <ol class="breadcrumb bc-3">
            <li>
        <a href="index.html"><i class="entypo-home"></i>Home</a>
      </li>
          <li>
              <a href="layout-api.html">Triamvos Cloud</a>
          </li>
        <li class="active">
              <strong>Triamvos Cloud Configuration Group</strong>
          </li>
          </ol>
<h2>Cloud Configuration</h2>
<br/ >
<div class="row">
  <div class="col-md-12">
   <ul class="nav nav-tabs bordered"><!-- available classes "bordered", "right-aligned" -->
         <li class="active">
           <a href="#home" data-toggle="tab">
             <span class="visible-xs"><i class="entypo-home"></i></span>
             <span class="hidden-xs">Configuration List</span>
           </a>
         </li>
         <li>
           <a href="#profile" data-toggle="tab">
             <span class="visible-xs"><i class="entypo-user"></i></span>
             <span class="hidden-xs">Add Configuration</span>
           </a>
         </li>
   </ul>
       
       <div class="tab-content">
         <div class="tab-pane active" id="home">
           
             <table class="table table-bordered datatable" id="table-3">
              <thead>
                <tr>
                  <th>
                    <div class="checkbox checkbox-replace">
                      <input type="checkbox" id="chk-1">
                    </div>
                  </th>
                  <th>Configuration Name</th>
                  <th>VPC</th>
                  <th>Subnet</th>
                  <th>Firewall Group</th>
                  <th>Role</th>
                  <th>Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
               {% for configuration in configurations %} 
               <form method="post" id="form-{{configuration.pk}}">
               {% csrf_token %}
                <tr>
                  <input type="hidden" name="configuration_id" id="configuration_id_{{configuration.pk}}" value="{{configuration.pk}}">
                  <td>
                    <div class="checkbox checkbox-replace">
                      <input type="checkbox" name="configuration_id" value="">
                    </div>
                  </td>
                  <td>{{configuration.name}}</td>
                  <td>{{configuration.vpc_fk.name}}</td>
                  <td>{{configuration.subnet_fk.name}}</td>
                  <td>{{configuration.securityGroup_fk.name}}</td>
                  <td>{{configuration.cloudrole_fk.name}}</td>
                  <td>{{configuration.description}}</td>
                  <td>
                    <a href="#" onclick="show_modal({{ configuration.pk }});" class="btn btn-default btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i> Edit </a>
                    <a href="#" name="form-{{configuration.pk}}" class="btn btn-danger btn-sm btn-icon icon-left" onclick="send_or_edit('delete', this.name);">

                      <i class="entypo-cancel"></i>
                      Delete

                    </a>
                  </td>
                </tr>
                </form>
                {%endfor%}
              </tbody>
            </table>
         </div>
         <div class="tab-pane" id="profile">
       <div class="panel panel-primary" data-collapsed="0">
          <div class="panel-heading">
            <div class="panel-title">
              Add New Configuration to the Cloud
            </div>
          </div>
            <div class="panel-body">
              <form role="form" class="form-horizontal form-groups-bordered" method="post" action="#">
                {% csrf_token %}
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">{{ form.name.label_tag }}</label>
                  <div class="col-sm-3">
                    {{ form.name }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">VPC: </label>
                  <div class="col-sm-3">
                    <select name="vpc" required="true" id="vpc" class="select2" data-allow-clear="true" data-placeholder="Vpc">
                    <option></option>
                    {% for vpc in vpcs %}
                    <option value="{{vpc.pk}}">{{vpc.name}}</option>
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">Subnet: </label>
                  <div class="col-sm-3">
                    <select name="subnet" required="true" id="subnet" class="select2" data-allow-clear="true" data-placeholder="Subnet">
                    <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">Firewall Group: </label>
                  <div class="col-sm-3">
                    <select name="sg" required="true" id="sg" class="select2" data-allow-clear="true" data-placeholder="Firewall Group">
                    <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">Role: </label>
                  <div class="col-sm-3">
                    <select name="role" required="true" id="role" class="select2" data-allow-clear="true" data-placeholder="Role">
                    <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">{{ form.description.label_tag }}</label>
                  <div class="col-sm-3">
                    {{ form.description }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bottom_includes %}

  <link rel="stylesheet" href="{% static 'assets/js/datatables/responsive/css/datatables.responsive.css'%}">
  <link rel="stylesheet" href="{% static 'assets/js/select2/select2-bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'assets/js/select2/select2.css'%}">
  <script src="{% static 'assets/js/gsap/main-gsap.js'%}"></script>
  <script src="{% static 'assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap.js'%}"></script>
  <script src="{% static 'assets/js/joinable.js'%}"></script>
  <script src="{% static 'assets/js/resizeable.js'%}"></script>
  <script src="{% static 'assets/js/neon-api.js'%}"></script>
  <script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'assets/js/datatables/TableTools.min.js'%}"></script>
  <script src="{% static 'assets/js/dataTables.bootstrap.js'%}"></script>
  <script src="{% static 'assets/js/datatables/jquery.dataTables.columnFilter.js'%}"></script>
  <script src="{% static 'assets/js/datatables/lodash.min.js'%}"></script>
  <script src="{% static 'assets/js/datatables/responsive/js/datatables.responsive.js'%}"></script>
  <script src="{% static 'assets/js/select2/select2.min.js'%}"></script>
  <script src="{% static 'assets/js/neon-chat.js'%}"></script>
  <script src="{% static 'assets/js/neon-custom.js'%}"></script>
  <script src="{% static 'assets/js/neon-demo.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap-switch.min.js'%}"></script>
{% endblock %}

{% block modals %}
<div class="modal fade" id="modal-7">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Network</h4>
      </div>
      <div class="modal-body">
        <form name="modal_configuration_edit" id="modal_configuration_edit" class="form-horizontal form-groups-bordered" method="post" action="#">
        {% csrf_token %}
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Name: </label>
            <div class="col-sm-4">
              <input type="text" id="modal_configuration_name" name="modal_configuration_name" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">VPC: </label>
            <div class="col-sm-4">
              <select name="modal_configuration_vpc" required="true" id="modal_configuration_vpc" class="select2" data-allow-clear="true" data-placeholder="Vpc">
              <option></option>
              {% for vpc in vpcs %}
              <option value="{{vpc.pk}}">{{vpc.name}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          </hr>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Subnet: </label>
            <div class="col-sm-4">
              <select name="modal_configuration_subnet" required="true" id="modal_configuration_subnet" class="select2" data-allow-clear="true" data-placeholder="Subnet">
              <option></option>
              </select>
            </div>
          </div>
          </hr>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Firewall Group: </label>
            <div class="col-sm-4">
              <select name="modal_configuration_sg" required="true" id="modal_configuration_sg" class="select2" data-allow-clear="true" data-placeholder="Firewall Group">
              <option></option>
              </select>
            </div>
          </div>
          </hr>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Role: </label>
            <div class="col-sm-4">
              <select name="modal_configuration_role" required="true" id="modal_configuration_role" class="select2" data-allow-clear="true" data-placeholder="Role">
              <option></option>
              </select>
            </div>
          </div>
          </hr>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Description: </label>
            <div class="col-sm-3">
              <textarea name="modal_configuration_description" id="modal_configuration_description" class="form-control" style="height: 75px; width: 182px; overflow: scroll; word-wrap: break-word; resize: horizontal;"></textarea>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-blue" >Save Changes</button>
      </div>
    </div>
    </form>
   </div>
</div>
{% endblock %}
