{% extends 'group/header.html' %}
{% load static %}
{% block title %}
Triamvos Cloud Firewall Rules Group
{% endblock %}
{% block content %}
<script type="text/javascript">
function show_modal(sg_id){
     jQuery('#modal-7').modal();

     $.ajax({
       url: "/cloud/fwrule/group/"+ sg_id +"/edit",
       contentType: "application/json; charset=utf-8",
       success: function(response)
       {
         $("#modal_sg_name").val(response.name);
         $("#modal_sg_description").val(response.description);
         $("#modal_sg_vpc").val(response.vpc_fk);
         $("#modal_sg_vpc").select2();
         $("#modal_sg_edit").attr('action', '/cloud/fwrule/group/'+ response.id +'/edit');
       }
     });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


function add_rule(){
  var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  json_data = "{'protocol': '" + $('#rule_protocol').val() + "', 'port_range': '" + $('#rule_port_range').val() + "', 'source': '" + $('#rule_source').val() + "', 'description': '" +  $('#rule_description').val() + "', 'sg_id': '" + $("#manage_rules_modal_sg_id").val() + "'}";
  $.ajax({
    type: "POST",
    url: "/cloud/fwrule/group/rules/create",
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    data: json_data,
//    {
//      'protocol': $('#rule_protocol').val(),
//      'port_range': $('#rule_port_range').val(),
//      'source': $('#rule_source').val(),
//      'description': $('#rule_description').val(),
//      'sg_id': $("#manage_rules_modal_sg_id").val(),
//    },

    success: function(response)
    {
      $('#rule_protocol').val(" ");
      select = $("select#rule_protocol").data("selectBox-selectBoxIt");
      select.refresh();
      $('#rule_port_range').val("");
      $('#rule_source').val("");
      $('#rule_description').val("");
      show_manage_rules($("#manage_rules_modal_sg_id").val());
      //alert(response.ret);
    }
  });

}

function delete_rule(rule_id, sg_id){
  var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  $.ajax({
    type: "POST",
    url: "/cloud/fwrule/group/rules/delete",
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    data: {
      'rule_id': rule_id, 
    },

    success: function(response)
    {
      show_manage_rules(sg_id)
    }
  });

}

function show_manage_rules(sg_id){
  jQuery('#rule_manage_rules').modal();
  $("#manage_rules_modal_sg_id").val(sg_id);
  $.ajax({
    url: "/cloud/fwrule/group/rules/"+ sg_id +"/edit",
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function(response)
    {
      $('#list_rules').find('tbody').empty();
      keys = Object.keys(response)
      for (i=0; i < keys.length; i++){
        key = keys[i];
        rule = response[key]
          $('#list_rules').find('tbody').append("<tr><input type=\"hidden\" value=\""+ key +"\" name=\"sg_rule_id\"/><td>" + rule.protocol + "</td><td>" + rule.port + "</td><td>"+ rule.cidr  +"</td><td>" + rule.description + "</td><td><a href=\"#\" onclick=\"show_modal({{ sg.pk }});\" class=\"btn btn-default btn-sm btn-icon icon-left\"> <i class=\"entypo-pencil\"></i> Edit </a>  <a href=\"#\" name=\"form-"+ key +"\" class=\"btn btn-danger btn-sm btn-icon icon-left\" onclick=\"delete_rule(" + key + "," + sg_id + ");\"><i class=\"entypo-cancel\"></i> Delete </a></td></form></tr>");
      }
    }
  });
}

$(document).ready(function() {
  $("#platform").change(function() {
    $("#vpc").find('option').remove();
    $platform_id = $("#platform").val();
    $.ajax({
      url: "/cloud/"+ $platform_id +"/get_vpcs_by_platform",
      contentType: "application/json; charset=utf-8",
      success: function(response){
        $.each(response, function(key, value){
          $("#vpc").append($("<option></option>").attr("value", value).text(key));
        });
      }
    });
  });
});

</script>
           <script type="text/javascript">
function send_or_edit (my_action, my_form) {

  if (my_action == "delete_rule") {
    document.getElementById(my_form).action = "{% url 'cloud:fwrule_group_rule_delete' %}";
    document.getElementById(my_form).submit();
    show_manage_rules(sg_id);
  }

  if (my_action == "delete") {
    document.getElementById(my_form).action = "{% url 'cloud:fwrule_group_delete' %}";
    document.getElementById(my_form).submit();
  }

}
         </script>
      <ol class="breadcrumb bc-3">
            <li>
        <a href="index.html"><i class="entypo-home"></i>Home</a>
      </li>
          <li>
              <a href="layout-api.html">Triamvos Cloud</a>
          </li>
        <li class="active">
              <strong>Triamvos Cloud Firewall Rules Group</strong>
          </li>
          </ol>
<h2>Cloud Firewall Rules Group</h2>
<br/ >
<div class="row">
  <div class="col-md-12">
   <ul class="nav nav-tabs bordered"><!-- available classes "bordered", "right-aligned" -->
         <li class="active">
           <a href="#home" data-toggle="tab">
             <span class="visible-xs"><i class="entypo-home"></i></span>
             <span class="hidden-xs">Firewall Rules Group List</span>
           </a>
         </li>
         <li>
           <a href="#profile" data-toggle="tab">
             <span class="visible-xs"><i class="entypo-user"></i></span>
             <span class="hidden-xs">Add Firewall Rules Group</span>
           </a>
         </li>
   </ul>
       
       <div class="tab-content">
         <div class="tab-pane active" id="home">
           
             <table class="table table-bordered datatable" id="table-3">
              <thead>
                <tr>
                  <th>
                    <div class="checkbox checkbox-replace">
                      <input type="checkbox" id="chk-1">
                    </div>
                  </th>
                  <th>Firewall Rules Group Name</th>
                  <th>Firewall Rules Group Vpc</th>
                  <th>Firewall Rules Group Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
               {% for sg in sgs %} 
               <form method="post" id="form-{{sg.pk}}">
               {% csrf_token %}
                <tr>
                  <input type="hidden" name="sg_id" id="sg_id_{{sg.pk}}" value="{{sg.pk}}">
                  <td>
                    <div class="checkbox checkbox-replace">
                      <input type="checkbox" name="sg_id" value="">
                    </div>
                  </td>
                  <td>{{sg.name}}</td>
                  <td>{{sg.vpc_fk.name}}</td>
                  <td>{{sg.description}}</td>
                  <td>
                    <a href="#" onclick="show_modal({{ sg.pk }});" class="btn btn-default btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i> Edit </a>
                    <a href="#" onclick="show_manage_rules({{ sg.pk }});" class="btn btn-default btn-sm btn-icon icon-left"> <i class="entypo-newspaper"></i> Manage Rules </a>
                    <a href="#" name="form-{{sg.pk}}" class="btn btn-danger btn-sm btn-icon icon-left" onclick="send_or_edit('delete', this.name);"><i class="entypo-cancel"></i>Delete</a>
                  </td>
                </tr>
                </form>
                {%endfor%}
              </tbody>
            </table>
         </div>
         <div class="tab-pane" id="profile">
       <div class="panel panel-primary" data-collapsed="0">
          <div class="panel-heading">
            <div class="panel-title">
              Add New Firewall Rules Group to the Cloud
            </div>
          </div>
            <div class="panel-body">
              <form role="form" class="form-horizontal form-groups-bordered" method="post" action="#">
                {% csrf_token %}
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">{{ form.name.label_tag }}</label>
                  <div class="col-sm-3">
                    {{ form.name }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">Platform: </label>
                  <div class="col-sm-3">
                    <select name="platform" required="true" id="platform" class="select2" data-allow-clear="true" data-placeholder="Platform">
                    <option></option>
                    {% for platform in platforms %}
                    <option value="{{platform.pk}}">{{platform.name}}</option>
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">Network: </label>
                  <div class="col-sm-3">
                    <select name="vpc" required="true" id="vpc" class="select2" data-allow-clear="true" data-placeholder="Vpc">
                    <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="field-1" class="col-sm-3 control-label">{{ form.description.label_tag }}</label>
                  <div class="col-sm-3">
                    {{ form.description }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bottom_includes %}

  <link rel="stylesheet" href="{% static 'assets/js/datatables/responsive/css/datatables.responsive.css'%}">
  <link rel="stylesheet" href="{% static 'assets/js/select2/select2-bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'assets/js/select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'assets/js/selectboxit/jquery.selectBoxIt.css' %}">
  <script src="{% static 'assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js'%}"></script>
	<script src="{% static 'assets/js/selectboxit/jquery.selectBoxIt.min.js' %}"></script>
  <script src="{% static 'assets/js/gsap/main-gsap.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap.js'%}"></script>
  <script src="{% static 'assets/js/joinable.js'%}"></script>
  <script src="{% static 'assets/js/resizeable.js'%}"></script>
  <script src="{% static 'assets/js/neon-api.js'%}"></script>
  <script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'assets/js/datatables/TableTools.min.js'%}"></script>
  <script src="{% static 'assets/js/dataTables.bootstrap.js'%}"></script>
  <script src="{% static 'assets/js/datatables/jquery.dataTables.columnFilter.js'%}"></script>
  <script src="{% static 'assets/js/datatables/lodash.min.js'%}"></script>
  <script src="{% static 'assets/js/datatables/responsive/js/datatables.responsive.js'%}"></script>
  <script src="{% static 'assets/js/select2/select2.min.js'%}"></script>
  <script src="{% static 'assets/js/neon-chat.js'%}"></script>
  <script src="{% static 'assets/js/neon-custom.js'%}"></script>
  <script src="{% static 'assets/js/neon-demo.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap-switch.min.js'%}"></script>
{% endblock %}

{% block modals %}
<div class="modal fade custom-width in" id="rule_manage_rules">
  <div class="modal-dialog" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">List Rules</h4>
      </div>
      <div class="modal-body">
           <table class="table table-bordered" id="list_rules" width="100%">
						<col style="width:8%">
						<col style="width:8%">
						<col style="width:14%">
						<col style="width:20%">
						<col style="width:20%">
            <thead>
              <tr>
                <th>Protocol</th>
                <th>Port Range</th>
                <th>Source</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </div>
      <div class="modal-header">
        <h4 class="modal-title">Add Rules</h4>
      </div>
      <div class="modal-body">
        <form name="modal_sg_manage_rules" id="modal_sg_manage_rules" class="form-horizontal form-groups-bordered" method="post" action="#">
        {% csrf_token %}
           <table class="table table-bordered" id="table-3" width="100%">
						<col style="width:8%">
						<col style="width:8%">
						<col style="width:14%">
						<col style="width:20%">
            <thead>
              <tr>
                <th>Protocol</th>
                <th>Port Range</th>
                <th>Source</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <input type="hidden" name="manage_rules_modal_sg_id" id="manage_rules_modal_sg_id" value="">
                <td>
                  <div class="col-sm-25">
									<select name="rule_protocol" required="true" id="rule_protocol" data-first-option="false" class="selectboxit">
									<option>Select Protocol</option>
									<option value="tcp">TCP</option>
									<option value="udp">UDP</option>
									<option value="icmp">ICMP</option>
									</select>
                  </div>
                </td>
                <td>
                  <div class="col-sm-13">
                    <input type="text" id="rule_port_range" name="rule_port_range" class="form-control" />
                  </div>
                </td>
                <td>
                  <div class="col-sm-12">
                    <input type="text" id="rule_source" name="rule_source" class="form-control" />
                  </div>
                </td>
                <td>
                  <div class="col-sm-10">
                    <input type="text" id="rule_description" name="rule_description" class="form-control" />
                  </div>
                </td>
              </tr>
              </form>
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button onclick="add_rule()" class="btn btn-blue" >Add Rule</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-7">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Firewall Rule Group</h4>
      </div>
      <div class="modal-body">
        <form name="modal_sg_edit" id="modal_sg_edit" class="form-horizontal form-groups-bordered" method="post" action="#">
        {% csrf_token %}
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Name: </label>
            <div class="col-sm-5">
              <input type="text" id="modal_sg_name" name="modal_sg_name" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Network: </label>
            <div class="col-sm-4">
              <select name="modal_sg_vpc" required="true" id="modal_sg_vpc" class="select2" data-allow-clear="true" data-placeholder="Vpc">
              <option></option>
              {% for vpc in vpcs %}
              <option value="{{vpc.pk}}">{{vpc.name}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Description: </label>
            <div class="col-sm-5">
              <textarea name="modal_sg_description" id="modal_sg_description" class="form-control" style="height: 75px; width: 182px; overflow: scroll; word-wrap: break-word; resize: horizontal;"></textarea>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-blue" >Save Changes</button>
      </div>
    </div>
    </form>
   </div>
</div>
{% endblock %}
