<div class="panel-heading">
  <div class="panel-title">
    Edit Node
  </div>
</div>
  <div class="panel-body">
    <form role="form" class="form-horizontal form-groups-bordered" method="post" action="{% url 'node:edit' node_id %} ">
      {% csrf_token %}
      <div class="form-group">
        <label for="field-1" class="col-sm-3 control-label">{{ form.name.label_tag }}</label>

        <div class="col-sm-5">
          {{ form.name }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Group:</label>
        <div class="col-sm-5">
          <select class="form-control" name="group">
            <option>Available Groups</option>
            {% for group in groups %}
            {% if node.group_fk.pk == group.pk %}
            <option selected="True" value="{{group.pk}}">{{ group.group_name }}</option>
            {%else%}
            <option value="{{group.pk}}">{{ group.group_name }}</option>
            {%endif%}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="field-1" class="col-sm-3 control-label">{{ form.serial_number.label_tag }}</label>

        <div class="col-sm-5">
          {{ form.serial_number }}
        </div>
      </div>
        {% for interface in node.interface_set.all %}
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ interface.network_fk.network_name}} Method: </label>
          <div class="col-sm-5">
            <input type="text" name="{{interface.network_fk.network_name}}_method" value="{{interface.method}}" />
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ interface.network_fk.network_name}} Ip: </label>

          <div class="col-sm-5">
            <input type="text" name="{{interface.network_fk.network_name}}_ip" value="{{interface.ipaddress}}" />
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ interface.network_fk.network_name}} Netmask: </label>

          <div class="col-sm-5">
            <input type="text" name="{{interface.network_fk.network_name}}_netmask" value="{{interface.netmask}}" />
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ interface.network_fk.network_name }} Gateway: </label>

          <div class="col-sm-5">
            <input type="text" name="{{interface.network_fk.network_name}}_gateway" value="{{interface.gateway}}" />
          </div>
        </div>
        {%endfor%}
      <!-- CAI NO ELSE-->
        {% for network in node.group_fk.network_set.all %}
        {% if network.network_interface not in interface_set %}
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ network.network_name}} Interface Method: </label>
          <div class="col-sm-5">
            <input type="text" name="{{network.network_name}}_method" value=""/>
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ network.network_name}} Ip: </label>

          <div class="col-sm-5">
            <input type="text" name="{{network.network_name}}_ip" value="" />
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ network.network_name}} Netmask: </label>

          <div class="col-sm-5">
            <input type="text" name="{{network.network_name}}_netmask" value="" />
          </div>
        </div>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ network.network_name }} Gateway: </label>

          <div class="col-sm-5">
            <input type="text" name="{{network.network_name}}_gateway" value="" />
          </div>
        </div>
        {% endif %}
        {% endfor %}
      <div class="form-group">
        <label for="field-1" class="col-sm-3 control-label">{{ form.dns1_ip.label_tag }}</label>

        <div class="col-sm-5">
          {{ form.dns1_ip }}
        </div>
      </div>
      <div class="form-group">
        <label for="field-1" class="col-sm-3 control-label">{{ form.dns2_ip.label_tag }}</label>

        <div class="col-sm-5">
          {{ form.dns2_ip }}
        </div>
      </div>
      <div class="form-group">
        <label for="field-1" class="col-sm-3 control-label">{{ form.dns_domain.label_tag }}</label>

        <div class="col-sm-5">
          {{ form.dns_search }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
</div>
