{% extends 'group/header.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}

{% block content %}
<ol class="breadcrumb bc-3">
   <li>
     <a href="#"><i class="entypo-home"></i>Home</a>
   </li>
   <li>
     <a href="#">Boxes</a>
   </li>
   <li>
     <a href="">List Boxes</a>
   </li>
   <li>
     <a href="">{{node.name}}</a>
   </li>
   <li class="active">
     <strong>Edit {{node.name}}</strong>
   </li>
</ol>

<h2>
  Edit {{node.name}}
</h2>
<br/>
<form role="form" class="form-horizontal form-groups-bordered" method="post" action="{% url 'node:edit' node_id %} ">
{% csrf_token %}
<div class="panel panel-primary" data-collapsed="0">
  <div class="panel-heading">
    <div class="panel-title">
      Node Details
    </div>
  </div>
    <div class="panel-body">
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.name.label_tag }}</label>
  
          <div class="col-sm-5">
            {{ form.name }}
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{ form.store.label_tag }}</label>
          <div class="col-sm-5">
            {{ form.store }}
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.serial_number.label_tag }}</label>
  
          <div class="col-sm-5">
            {{ form.serial_number }}
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.dns1_ip.label_tag }}</label>
  
          <div class="col-sm-5">
            {{ form.dns1_ip }}
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.dns2_ip.label_tag }}</label>
  
          <div class="col-sm-5">
            {{ form.dns2_ip }}
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label for="field-1" class="col-sm-3 control-label">{{ form.dns_domain.label_tag }}</label>
  
          <div class="col-sm-5">
            {{ form.dns_search }}
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
       $(document).ready(function(){
         
         $ip = $('#Vendas_ip').val().split("."); 
         $("#teste_ip").val($ip['0'] + "." + $ip['1'] + "." + $ip['2'] + ".255");

         $("#Vendas_ip").change(function(){
           $ip = $('#Vendas_ip').val().split("."); 
           $("#teste_ip").val($ip['0'] + "." + $ip['1'] + "." + $ip['2'] + ".255");
         });
        
       });
       function show_modal(interface_id){
    
         jQuery('#modal-7').modal('show', {backdrop: 'static'});
         
         document.getElementById("modal_submit").onclick = function () { submit_form(interface_id) }

         $.ajax({
           url: "/dhcp/" + interface_id + "/pool_config",
           success: function(response)
           {
             jQuery('#modal-7 .modal-body').html(response);
           }
         });
       }
      function submit_form(interface_id){
        $("#dhcp_pool_" + interface_id).submit();
      }
    </script>
    <script>
     $(document).ready(function() {
    {% for interface in node.interface_set.all %}

         if($("#{{interface.network_fk.network_name}}_method").val() == "static"){
           $("#{{interface.network_fk.network_name}}_collapse_btn").show();
          }else{
            $("#{{interface.network_fk.network_name}}_collapse").hide();
            $("#{{interface.network_fk.network_name}}_collapse_btn").hide();
          }

         $("#{{interface.network_fk.network_name}}_method").change(function() {
           $("#{{interface.network_fk.network_name}}_collapse").toggle();
           $("#{{interface.network_fk.network_name}}_collapse_btn").toggle();
          });

    {% endfor %}
      {% for network in node.group_fk.network_set.all %}
      {% if network.network_interface not in interface_set %}
      if($("#{{ network.network_name}}_method").val() == "static"){
           $("#{{network.network_name}}_collapse").show();
      }else{
           $("#{{network.network_name}}_collapse").hide();
      }

      $("#{{network.network_name}}_method").change(function() {
         $("#{{network.network_name}}_collapse").toggle();
      });

      {% endif %}
      {% endfor %}
       });
    </script>
    {% for interface in node.interface_set.all %}
       <div class="panel panel-primary" data-collapsed="0">
         <div class="panel-heading">
           <div class="panel-title">
             {{interface.network_fk.network_name}}
           </div>
         </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ interface.network_fk.network_name}} Method: </label>
            <div class="col-sm-5">
              {% if interface.bridge == True %}
              <input class="form-control" type="text" id="{{interface.network_fk.network_name}}_method" name="{{interface.network_fk.network_name}}_method" value="static" readonly/>
              {% else %}
              <select  class="selectboxit" data-first-option="false" id="{{interface.network_fk.network_name}}_method" name="{{interface.network_fk.network_name}}_method">
						  	<option>Methods</option>
                <option value="static"  {% if interface.method == "static" %}selected="true" {% endif %} >Static</option>
                <option value="dhcp" {% if interface.method == "dhcp" %}selected="true" {% endif %} >Dhcp</option>
              </select>
              {% endif %}
            </div>
            <div id="{{interface.network_fk.network_name}}_collapse_btn" >
              <a href="#" onclick="show_modal({{interface.pk }})" style="height: 30px;"  class="btn btn-default btn-icon icon-left">
                <i class="entypo-list-add"></i>
                Create DHCP Pool
              </a>
            </div>
          </div>
          <div id="{{interface.network_fk.network_name}}_collapse" >
          <hr/>
            <div class="form-group">
              <label for="field-1" class="col-sm-3 control-label">{{ interface.network_fk.network_name}} Ip: </label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="{{interface.network_fk.network_name}}_ip" name="{{interface.network_fk.network_name}}_ip" value="{{interface.ipaddress}}" />
              </div>
            </div>
            <hr/>
            <div class="form-group">
              <label for="field-1" class="col-sm-3 control-label">{{ interface.network_fk.network_name}} Netmask: </label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="{{interface.network_fk.network_name}}_netmask" value="{{interface.netmask}}" />
              </div>
            </div>
            <hr/>
            <div class="form-group">
              <label for="field-1" class="col-sm-3 control-label">{{ interface.network_fk.network_name }} Gateway: </label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="{{interface.network_fk.network_name}}_gateway" value="{{interface.gateway}}" />
              </div>
            </div>
          </div>
         </div>
        </div>
      {%endfor%}
      {% for network in node.group_fk.network_set.all %}
      {% if network.network_interface not in interface_set %}
       <div class="panel panel-primary" data-collapsed="0">
         <div class="panel-heading">
           <div class="panel-title">
             {{ network.network_name }}
           </div>
         </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ network.network_name}} Interface Method: </label>
            <div class="col-sm-5">
              {% if network.network_bridge == True %}
              <input class="form-control" type="text" id="{{network.network_name}}_method" name="{{network.network_name}}_method" value="static" readonly/>
              {% else %}
              <select class="selectboxit" data-first-option="false"  id="{{network.network_name}}_method" name="{{network.network_name}}_method">
						  	<option>Methods</option>
                <option value="static">Static</option>
                <option value="dhcp">Dhcp</option>
              </select>
              {% endif %}
            </div>
          </div>
          <div id="{{network.network_name}}_collapse" >
          <hr/>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ network.network_name}} Ip: </label>
  
            <div class="col-sm-5">
              <input type="text" class="form-control" name="{{network.network_name}}_ip" value="" />
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ network.network_name}} Netmask: </label>
  
            <div class="col-sm-5">
              <input type="text" class="form-control" name="{{network.network_name}}_netmask" value="" />
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ network.network_name }} Gateway: </label>
  
            <div class="col-sm-5">
              <input type="text" class="form-control" name="{{network.network_name}}_gateway" value="" />
            </div>
          </div>
          </div>
        </div>
      </div>
          {% endif %}
          {% endfor %}
   {% if node.container_set.all %}
    {% for container in node.container_set.all %}
   <div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
      <div class="panel-title">
        Container {{ container.container_catalog_fk.name }}
      </div>
    </div>
      <div class="panel-body">
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Image Name: </label>
  
            <div class="col-sm-3">
              <input type="text" class="form-control" name="{{container.container_catalog_fk.name}}_image_name" value="{{container.container_catalog_fk.image_name}}" readonly />
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Registry: </label>
  
            <div class="col-sm-3">
              <input type="text" class="form-control" name="{{container.container_catalog_fk.name}}_registry" value="{{container.container_catalog_fk.registry_fk.url}}:{{container.container_catalog_fk.registry_fk.port}}" readonly />
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Ip Address: </label>
  
            <div class="col-sm-3">
              <input type="text" class="form-control" name="{{container.name}}_ip_address" value="{{container.ipaddress}}" readonly />
            </div>
          </div>
      </div>
    </div>
    {% endfor %}
   {% else %}
   {% for container in group.container_catalog_set.all %}
   <div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
      <div class="panel-title">
        Container {{ container.name }}
      </div>
    </div>
      <div class="panel-body">
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Image Name: </label>
  
            <div class="col-sm-3">
              <input type="text" class="form-control" name="{{container.name}}_name" value="{{container.image_name}}" readonly />
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Registry: </label>
  
            <div class="col-sm-3">
              <input type="text" class="form-control" name="{{container.name}}_registry" value="{{container.registry_fk.url}}:{{container.registry_fk.port}}" readonly />
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Ip Address: </label>
  
            <div class="col-sm-5">
              <input type="text" class="form-control" name="{{container.name}}_ip_address" value="{{container.ipaddress}}" readonly />
            </div>
          </div>
      </div>
    </div>
   {% endfor %}
   {% endif %}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-5">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}
{% block modals %}
<div class="modal fade" id="modal-7">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Dhcp Pool</h4>
      </div>
      <div class="modal-body">

        Content is loading...

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" onclick="" id="modal_submit" style="height: 30px;"  class="btn btn-info ">
          Save
        </a>
      </div>
    </div>
   </div>
</div>
{% endblock %}
{% block bottom_includes %}
<link rel="stylesheet" href="{% static 'assets/js/datatables/responsive/css/datatables.responsive.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/select2/select2-bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/select2/select2.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/selectboxit/jquery.selectBoxIt.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/minimal/_all.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/square/_all.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/flat/_all.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/futurico/futurico.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/polaris/polaris.css'%}">
<script src="{% static 'assets/js/gsap/main-gsap.js'%}"></script>
<script src="{% static 'assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/joinable.js'%}"></script>
<script src="{% static 'assets/js/resizeable.js'%}"></script>
<script src="{% static 'assets/js/neon-api.js'%}"></script>
<script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/selectboxit/jquery.selectBoxIt.min.js'%}"></script>
<script src="{% static 'assets/js/datatables/TableTools.min.js'%}"></script>
<script src="{% static 'assets/js/dataTables.bootstrap.js'%}"></script>
<script src="{% static 'assets/js/datatables/jquery.dataTables.columnFilter.js'%}"></script>
<script src="{% static 'assets/js/datatables/lodash.min.js'%}"></script>
<script src="{% static 'assets/js/datatables/responsive/js/datatables.responsive.js'%}"></script>
<script src="{% static 'assets/js/select2/select2.min.js'%}"></script>
<script src="{% static 'assets/js/neon-chat.js'%}"></script>
<script src="{% static 'assets/js/neon-custom.js'%}"></script>
<script src="{% static 'assets/js/neon-demo.js'%}"></script>
{% endblock %}
