{% extends 'group/header.html' %}
{% load static %}
{% block title%} Store {% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-primary" data-collapsed="0">

      <div class="panel-heading">
        <div class="panel-title">
          Create New Store
        </div>

        <div class="panel-options">
          <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
          <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
          <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
        </div>
      </div>

      <div class="panel-body">
        <form role="form" class="form-horizontal form-groups-bordered" method="post" action="{%url 'store:create' client_id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ form.name.label_tag }}</label>

            <div class="col-sm-4">
              {{ form.name }}
            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ form.code.label_tag }}</label>

            <div class="col-sm-1">
              {{ form.code }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Group:</label>
            <div class="col-sm-4">

              <select name="group" class="select2" data-allow-clear="true" data-placeholder="Select one configuration group...">
                <option></option>
                <optgroup label="Available Groups">
                {% for group in groups %}
                <option value="{{group.pk}}">{{ group.group_name }}</option>
                {% endfor %}
                </optgroup>
              </select>

            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ form.country.label_tag }}</label>

            <div class="col-sm-4">
              {{ form.country }}
            </div>
          </div>
          <div class="form-group">
            <label for="field-ta" class="col-sm-3 control-label">{{ form.state.label_tag }}</label>

            <div class="col-sm-4">
              {{ form.state }}
            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ form.city.label_tag }}</label>

            <div class="col-sm-4">
              {{ form.city }}
            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">{{ form.address.label_tag }}</label>

            <div class="col-sm-4">
              {{ form.address }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>
     </div>
    </div>
</div>
{% endblock %}
{% block bottom_includes %}
<link rel="stylesheet" href="{% static 'assets/js/datatables/responsive/css/datatables.responsive.css' %}">
<link rel="stylesheet" href="{% static 'assets/js/select2/select2-bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/js/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'assets/js/selectboxit/jquery.selectBoxIt.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/minimal/_all.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/square/_all.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/flat/_all.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/futurico/futurico.css'%}">
<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/polaris/polaris.css'%}">
<script src="{% static 'assets/js/gsap/main-gsap.js'%}"></script>
<script src="{% static 'assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/joinable.js'%}"></script>
<script src="{% static 'assets/js/resizeable.js'%}"></script>
<script src="{% static 'assets/js/neon-api.js'%}"></script>
<script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/selectboxit/jquery.selectBoxIt.min.js'%}"></script>
<script src="{% static 'assets/js/datatables/TableTools.min.js'%}"></script>
<script src="{% static 'assets/js/dataTables.bootstrap.js'%}"></script>
<script src="{% static 'assets/js/datatables/jquery.dataTables.columnFilter.js'%}"></script>
<script src="{% static 'assets/js/datatables/lodash.min.js'%}"></script>
<script src="{% static 'assets/js/datatables/responsive/js/datatables.responsive.js'%}"></script>
<script src="{% static 'assets/js/select2/select2.min.js'%}"></script>
<script src="{% static 'assets/js/neon-chat.js'%}"></script>
<script src="{% static 'assets/js/neon-custom.js'%}"></script>
<script src="{% static 'assets/js/neon-demo.js'%}"></script>
{% endblock %}
